<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmu.scout"
    android:versionCode="7"
    android:versionName="1.1" 
    xmlns:tools="http://schemas.android.com/tools" 
    tools:ignore="HardcodedDebugMode" >

    <uses-sdk android:minSdkVersion="7" 
        android:targetSdkVersion="15" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application 
        android:debuggable="false"
        android:icon="@drawable/ic_launcher_girlsofsteel"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Dashboard Activity -->
        <activity
            android:name=".ui.DashboardActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Team Scout Activity -->
        <activity
            android:name=".ui.OldTeamInputActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name=".ui.HoneyCombTeamInputActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>

        <!-- Team Grid Activities -->
        <activity android:name=".ui.HoneyCombTeamGridActivity" >
        </activity>
        <activity android:name=".ui.HoneyCombTeamListActivity">
            
        </activity>
        <activity android:name=".ui.OldTeamGridActivity" >
        </activity>
        <activity android:name=".ui.OldTeamListActivity">
        </activity>

        <!-- Match Activity -->
        <activity
            android:name=".ui.MatchPagerActivity"
            android:theme="@style/StyledIndicators"
            android:windowSoftInputMode="adjustPan" 
            android:configChanges="orientation" >
        </activity>

        <!-- Display Activities -->
        <activity
            android:name=".ui.DisplayPagerActivity"
            android:theme="@style/StyledIndicators" >
        </activity>
        <activity
            android:name=".ui.DisplayPagerMatchesActivity"
            android:theme="@style/StyledIndicators" >
        </activity>

        <!-- Base Camera Activity -->
        <activity android:name=".camera.BaseCameraActivity" >
        </activity>
        
        <!-- Content Provider -->
        <provider
            android:name="com.cmu.scout.provider.ScoutProvider"
            android:authorities="com.cmu.scout.provider.Scout" >
        </provider>
    </application>

</manifest>